<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Customer Detail</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item">{{ 'first_name' | translate }}: {{customer.first_name}}</li>
    <li class="list-group-item">{{ 'last_name' | translate }}: {{customer.last_name}}</li>
    <li class="list-group-item">{{ 'location_abbr' | translate}}: {{customer.location_abbr}}</li>
    <li class="list-group-item">{{ 'location_name' | translate}}: {{customer.location_name}}</li>
  </ul>
</div>
