<div class="container">
  <h1 class="mt-4">Customers Table</h1>

  <div class="row">
    <table class="table table-hover table-sm">
      <caption>List of customers</caption>
      <thead>
        <tr>
          <th scope="col">{{ 'first_name' | translate }}</th>
          <th scope="col">{{ 'last_name' | translate }}</th>
          <th scope="col">{{ 'location_abbr' | translate }}</th>
          <th scope="col">{{ 'location.name' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="customer-data" *ngFor="let customer of customerData" [class.disabled]="!customer.active"
          (click)="customer.active && clickCustomer(customer)">
          <td>{{customer.first_name}}</td>
          <td>{{customer.last_name}}</td>
          <td>{{customer.location_abbr}}</td>
          <td>{{customer.location_name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ngb-alert #apiErrorAlert *ngIf="!apiErrorClosed" type="danger" (closed)="apiError = null">
    <span>{{ apiError.message }}</span>
  </ngb-alert>
</div>
